.App {
  height: 100vh;
  width: 100vw;

  display: grid;

  grid-template-rows: 1fr 1fr;
  grid-template-columns: 1fr;
  grid-gap: 2rem;
}

.entrada-dados-card {
  margin: 2rem;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 2rem;
}

.button {
  max-height: 1fr;
}

.status-card {
  display: grid;

  grid-template-columns: 1fr 1fr 1fr;
  grid-gap: 2rem;
}

.cell-header {
  flex-grow: 0;
}

.cell-body {
  flex-grow: 1;

  display: flex;
  flex-direction: column;
}

.cell {
  width: 1fr;
  height: 1fr;
  margin: 1rem;
}

.little-cell {
  text-align: center;
  vertical-align: middle;
}
