body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.wrapper {
  display: grid;

  grid-template-columns: 1fr;
  grid-template-rows: 4rem 1fr;
  grid-gap: 2rem;
}

.formGrid {
  display: grid;
  grid-gap: 2rem;

  padding: 2rem;
}

.outerGrid {
  display: grid;

  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 1fr;
  grid-gap: 2rem;
}

.INF {
  width: 100%;

  text-align: center;
  font-size: 2rem;

  color: grey;
}

.emails {
  width: 100%;
  text-align: center;
  font-size: 1.5rem;
  color: lightgray;
}
